UD3_MachineLearning/img/*
UD5_RedesNeuronalesConvolucionales/PracticaIdentificacionDePersonasConMascarilla/dataset_imagenes_mascarilla/test
UD5_RedesNeuronalesConvolucionales/PracticaIdentificacionDePersonasConMascarilla/dataset_imagenes_mascarilla/train
UD5_RedesNeuronalesConvolucionales/PracticaIdentificacionDePersonasConMascarilla/mascarilla_con_mas_imagenes/data/*
UD5_RedesNeuronalesConvolucionales/transferLearningMobileNet/dataset_imagenes_comidas/*
UD5_RedesNeuronalesConvolucionales/transferLearningMobileNet/ejemplos_imagenes_comidas/
UD5_RedesNeuronalesConvolucionales/transferLearningMobileNet/dataset_imagenes_comidas.zip
*.tar.gz