<!doctype html>
<html lang="es">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Análisis Bancario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/banco.css') }}">
    <script src="{{ url_for('static', filename='js/banco.js') }}"></script>
    <link rel="shortcut icon" href="../static/img/bbva.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
          rel="stylesheet">
</head>
<body>
 <h1>Predicción de aprobación de prestamo crediticio</h1>
 <form action="/" method="post">
  {{ form.hidden_tag() }}

  <div>
    <label>Ingresos</label>
    {{ form.ingresos() }}
  </div>
  <div>
    <label>Cantidad</label>
    {{ form.cantidad() }}
  </div>
  <div>
    <label>Tasa de interés</label>
    {{ form.tasaIntPres() }}
  </div>
  <div>
    <label>Préstamo anual</label>
    {{ form.mppIngresp() }}
  </div>
  <div>
    <label>Préstamos anteriores</label>
    {{ form.prestAnt() }}
  </div>
  <div>
    <label>Hipoteca</label>
    {{ form.hipoPro() }}
  </div>
  <div>
    <label>Alquiler</label>
    {{ form.alqPro() }}
  </div>
  <div>
    {{ form.enviar() }}
  </div>

  {% if form.errors %}
   <ul>
    {% for campo, errores in form.errors.items() %}
     {% for error in errores %}
      <li>{{ campo }}: {{ error }}</li>
     {% endfor %}
    {% endfor %}
   </ul>
  {% endif %}

  {% if resultado == "Aprobado" %}
  <span class="aprobado">{{ resultado }} </span>
  {% else %}
  <span class="rechazado">{{ resultado }} </span>
  {% endif %}
</form>
</body>
</html>