<!doctype html>
<html lang="es">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Análisis Bancario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/banco.css') }}">
    <script src="{{ url_for('static', filename='js/banco.js') }}"></script>
    <link rel="shortcut icon" href="../static/img/logo-bbva.webp" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
          rel="stylesheet">
</head>
<body>
    {% extends "layout.html" %}

    {% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Predicción de aprobación de préstamo crediticio</h1>
        <form action="/" method="post">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                <label class="form-label">Ingresos</label>
                {{ form.ingresos(class_="form-control") }}
            </div>

            <div class="mb-3">
                <label class="form-label">Cantidad</label>
                {{ form.cantidad(class_="form-control") }}

            </div>
            <div class="mb-3">
                <label class="form-label">Tasa de interés</label>
                {{ form.tasaIntPres(class_="form-control") }}

            </div>
            <div class="mb-3">
                <label class="form-label">Préstamo anual</label>
                {{ form.mppIngresp(class_="form-control") }}

            </div>
            <div class="mb-3">
                <label class="form-label">Préstamos anteriores</label>
                {{ form.prestAnt(class_="form-select") }}
            </div>
            <div class="mb-3">
                <label class="form-label">Hipoteca</label>
                {{ form.hipoPro(class_="form-select") }}

            </div>
            <div class="mb-3">
                <label class="form-label">Alquiler</label>
                {{ form.alqPro(class_="form-select") }}

            </div>
            <div class="mb-3">
                {{ form.enviar(class_="btn btn-primary") }}
            </div>

            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                    {% for campo, errores in form.errors.items() %}
                        {% for error in errores %}
                            <li>{{ campo }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
          {% if resultado %}
              <span class="mensaje {{ 'aprobado' if resultado == 'Aprobado' else 'rechazado' }}">
                  {{ resultado }}
              </span>
          {% endif %}
        </form>
    </div>
    {% endblock %}
</body>
</html>