<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
</head>
<body>
    <header>

    </header>
    <main>
        <form action="/login" id="formLog"  method="POST">
            <h1>Log in</h1>
            <label for="nombre">Nombre: </label><br><br>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre"><br><br>
            <label for="contrasenya">Contraseña: </label><br><br>
            <input type="password" name="contrasenya" id="contrasenya" placeholder="Contraseña"><br><br>
            <input type="submit" id="login" value="Log In"><br>
            <div id="mensaje" class="oculto">
                {% if tUsuario is not none and tClave %}
                <span>Acceso permitido: bienvenido {{ tUsuario }}</span>
                {% elif tUsuario %}
                    <span>Acceso denegado a {{ tUsuario }}</span>
                {% endif %}
            </div>

        </form>
    </main>
    <footer>

    </footer>
</body>
</html>